@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

body{
    background: rgb(219, 219, 219);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(142deg, rgba(0, 0, 0, 1) 0%, rgba(55, 3, 128, 1) 74%, rgba(171, 119, 255, 1) 100%);
    padding: 9px 5%;
    color: rgb(161, 96, 221);
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo{
    width: 60px;
    margin-right: 45px;
}

.nav_left, .nav_right{
    display: flex;
    align-items: center;
}

.nav_left ul li{
    list-style: none;
    display: inline-block;
}

.nav_left ul li span{
    width: 20px;
    margin: 0 15px;
}

.nav_left ul li a {
    text-decoration: none;
    color:#ccc;
}

.nav_left img{
    width: 190px;
    margin-right: 55px;
    margin-left: 0px;
}
    
.nav_left h1{
    margin-right: 15px;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon{
    margin-left: 30px;
}

.search-box{
    background:rgb(187, 163, 207);
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box span{
    width: 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #ffff;
    border-radius: 50%;
    background: rgb(1, 201, 1);
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content{
    flex-basis: 47%;

}

.imp-links a, .shortcut-links a{

    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(115, 1, 209);
    width:fit-content;
}

.imp-links a span{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: rgb(145, 68, 209);

}

.imp-links{
    border-bottom: 1px solid #ccc;
}


.shortcut-links a img{
    width:40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p{
    margin: 25px 0;
    color: rgb(115, 1, 209);
    font-weight: 5px;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a{
    text-decoration: none;
    color: rgb(115, 1, 209);
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.event p{
    font-size: 16px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(115, 1, 209);
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(142deg, rgba(0, 0, 0, 1) 0%, rgba(55, 3, 128, 1) 74%, rgba(171, 119, 255, 1) 100%);
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}
